<div class="container">
  <div class="header"> <h1>My Store</h1></div>
</div>
<button class="btn btn-primary" (click)="onAdd()">Add</button>

<div class="row">
  <div class="col " *ngFor="let product of products"  [class]="cardSelected == product.ID ? 'proCard': null " >
    <app-card [product]="product" (deleteProduct)="deleteProduct(ID)" (click)="onCardSelcted(product.ID)"></app-card>
  </div>
</div>


<h1> Product Detail</h1>
<form [formGroup]="productForm">
  <div class="row">
    <div class="col">
      Name : <input formControlName="name"
                    [(ngModel)]="formProduct.Name"
                    type="text"/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Description : <input formControlName="description"
                          [(ngModel)]="formProduct.Description"
                          type="text"/>/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Price : <input  formControlName="price"
                      [(ngModel)]="formProduct.Price"
                      type="number"/>
    </div>
  </div>
</form>
<button class="btn btn-primary" (click)="onSaveProduct()">Save</button>